<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some website</title>
</head>
<body>
    <h1>Maintenance</h1>
    <p>Web site under construction we'll be back soon</p>
</body>
</html>